<nav aria-label="breadcrumb" class="mt-2">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/sensors']" routerLinkActive="router-link-active">Sensores</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Gestionar sensor</li>
    </ol>
  </nav>
            <form >
                <div class="form-row mt-4">
                    <div class="col-3">
                        <input type="text" name="name" class="form-control" formControlName="name" placeholder="Nombre">
                    </div>
                    <div class="col-3">
                        <select class="form-control">
                            <option value="">Opcion 1</option>
                            <option value="">Opcion 2</option>
                        </select>
                    </div>
                </div>
                <div class="form-row mt-3">
                    <div class="col-3">
                        <input type="number" class="form-control" formControlName="emailAddress" placeholder="Valor minimo" >
                    </div>
                    <div class="col-3">
                        <input type="number" name="phoneNumber" class="form-control" formControlName="phoneNumber" placeholder="Valor maximo">
                    </div>
                </div>
          
                <div class="col-md-6 mt-3">
                    <button class="btn btn-success float-right" type="submit">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar
                    </button>
                </div>
            </form>
