<div class="form-row mt-4">
    <div class="col-12">
        <h4 class="d-inline" >Lista de eventos</h4>
        <button class="btn btn-success  float-right" routerLink="/events/create" ><i class="fa fa-plus" aria-hidden="true"></i> Crear</button>
    </div>
</div>

<table class="table table-striped mt-5">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Sensor</th>
        <th scope="col" ></th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td class="float-right">
            <button class="btn btn-info btn-sm mr-2">Ver eventos</button>
            <button class="btn btn-secondary btn-sm mr-2" routerLink="/events/edit">Editar</button>
            <button class="btn btn-danger btn-sm">Borrar</button>
        </td>
      </tr>
      <tr>
        <td>Jacob</td>
        <td>Thornton</td>
        <td class="float-right">
            <button class="btn btn-info btn-sm mr-2">Ver eventos</button>
            <button class="btn btn-secondary btn-sm mr-2">Editar</button>
            <button class="btn btn-danger btn-sm">Borrar</button>
        </td>
      </tr>
      <tr>
        <td>Larry</td>
        <td>the Bird</td>
        <td class="float-right"> 
            <button class="btn btn-info btn-sm mr-2">Ver eventos</button>
            <button class="btn btn-secondary btn-sm mr-2">Editar</button>
            <button class="btn btn-danger btn-sm">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <p class="float-right">Resultados:</p>
