<div class="form-row mt-4">
    <div class="col-12">
        <h4 class="d-inline" >Lista de sensores</h4>
        <button class="btn btn-success  float-right" routerLink="/sensors/create" ><i class="fa fa-plus" aria-hidden="true"></i> Crear</button>
    </div>
</div>

<table class="table table-striped mt-5">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Valor minimo</th>
        <th scope="col">Valor maximo</th>
        <th scope="col">Estado</th>
        <th scope="col" ></th>
      </tr>
    </thead>
    <tbody>

      <tr *ngIf="sensors.length <= 0 && !loading" class="text-center">
        <td>No se obtuvieron resultados</td>
      </tr>

      <tr *ngIf="loading" class="text-center">
        <td colspan="6">
          <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Loading...
        </td>
      </tr>

      <tr *ngFor="let item of sensors">
        <td>{{item.name}}</td>
        <td>{{item.minVal}}</td>
        <td>{{item.maxVal}}</td>
        <td *ngIf="item.active"><span class="badge badge-pill badge-success">Activado</span></td>
        <td *ngIf="!item.active"><span class="badge badge-pill badge-danger">Desactivado</span></td>

        <td class="float-right">
            <button class="btn btn-info btn-sm mr-2" type="button"  data-toggle="modal" data-target="#exampleModal" (click)="openModal(item._id)">Ver eventos</button>
            <button class="btn btn-secondary btn-sm mr-2" (click)="goToEdit(item._id)">Editar</button>
            <button class="btn btn-danger btn-sm" (click)="delete(item._id)">Borrar</button>
        </td>
      </tr>

    </tbody>
  </table>
  <p class="float-right">Resultados: {{sensors.length}}</p>

  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eventos del sensor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li *ngFor="let event of events"> <span><b>Valor: </b></span>{{event.value}}</li>

        </ul>
      </div>
    </div>
  </div>
</div>
